body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
   margin-right: 20px;
   margin-left: 20px;
}

a:hover {
  color: #2bd8ca;
}

i {
  font-size: 450%;
  padding: 10px;
}

.container{
  background-color: #d3d3d3;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  padding-left: 75px;
  padding-right: 75px;
}

article {
  width: 230px;
  height: 80%;
  padding: 35px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

article:hover {
  font-size: 120%;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 70%
}
